body,
body *,
* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.canvasblock{
    width: 500px;
    height: 500px;
    justify-content: space-around;
    border: 1px solid black;
    margin: 1em;
}

.row {
    flex-direction: row;
    width: 100%;
    flex: 1;
    justify-content: stretch;
    align-items: stretch;
}

.pixel{
    width: 100%;
    flex: 1;
    justify-content: stretch;
    align-items: stretch;
    /* border: 1px solid black; */
}

h1{
    margin: 1em 0px 0px;
}

.colored{
    background-color: black;
}